[submodule "kollaps"]
    path = Kollaps
    url = https://github.com/miguelammatos/kollaps.git
[submodule "implementations/boringssl"]
	path = implementations/boringssl
	url = https://github.com/google/boringssl.git
[submodule "implementations/lsquic"]
	path = implementations/lsquic
	url = https://github.com/litespeedtech/lsquic.git
[submodule "implementations/msquic"]
	path = implementations/msquic
	url = https://github.com/microsoft/msquic.git
[submodule "quiche"]
	path = quiche
	url = https://github.com/cloudflare/quiche.git
[submodule "implementations/quiche"]
	path = implementations/quiche
	url = https://github.com/cloudflare/quiche.git
[submodule "implementations/libev"]
	path = implementations/libev
	url = https://github.com/enki/libev.git
